---
import type { Products } from '@/interface/product.interface'
import { Image } from 'astro:assets'
import BorderEffect from './BorderEffect.astro'
import { CLOUDFLARE_URL } from '@/config/env-config'

interface Props {
	product: Products
	borderEffect?: boolean
}

const { product, borderEffect = true } = Astro.props
---

<a
	href={`/${product.name.replaceAll(' ', '-').toLocaleLowerCase()}?id=${product.id}`}
	title={product.description}
>
	<div
		class="bg-accent/30 shadow-crust group relative flex h-fit w-fit min-w-56 flex-col items-center gap-2 rounded-lg pb-5 shadow transition-all duration-500 hover:scale-105"
	>
		{borderEffect && <BorderEffect />}
		<Image
			class="aspect-square rounded-t-lg"
			src={`${CLOUDFLARE_URL}/${product.images[0].image}`}
			alt={product.name}
			width={240}
			height={240}
		/>
		<div class="flex w-full flex-col gap-1 px-5 text-left">
			<span class="w-full text-center font-bold">{product.name}</span>
			<span class="text-right font-bold">
				{`$ ${product.price.toLocaleString()}`}
			</span>
		</div>
	</div>
</a>
