---
import type { Products } from "@/interface/product.interface";
import { Image } from "astro:assets";
import BorderEffect from "./BorderEffect.astro";
import { PUBLIC_API_URL } from "@/config/env-config";

interface Props {
  product: Products;
  borderEffect?: boolean;
}

const { product, borderEffect = true } = Astro.props;
---

<a
  href={`/${product.name.replaceAll(" ", "-").toLocaleLowerCase()}?id=${product.id}`}
  title={product.description}
>
  <div
    class="relative flex flex-col w-fit min-w-56 h-fit py-5 px-5 rounded items-center hover:scale-110 gap-4 group"
  >
    {borderEffect && <BorderEffect />}
    <Image
      class="aspect-square rounded"
      src={`${PUBLIC_API_URL}/images/width=200,height=200/${product.images[0]}`}
      alt={product.name}
      width={200}
      height={200}
    />
    <div class="flex flex-col w-full gap-1 text-left">
      <span class="w-full">{product.name}</span>
      <span class="w-full font-bold">{`$ ${product.price}`}</span>
    </div>
  </div>
</a>
