---
import { ProductService } from '@/service/product.service'
import ProductCard from './ProductCard.astro'
import ProductContainer from './ProductContainer.astro'

interface Props {
	searchQuery: string
}

const { searchQuery } = Astro.props
const productResponse = await ProductService.searchProducts(searchQuery)
if (!productResponse.success) console.error(productResponse.error)

const productSearch = productResponse.success ? productResponse.data : []

const message = productSearch.length
	? `Se encontraron <strong>${productSearch.length}</strong> resultados para <strong>${searchQuery}</strong>`
	: `No se encontraron resultados para <strong>${searchQuery}</strong>`
---

<article class="w-full text-center">
	<div class="relative flex h-full flex-col gap-4">
		<h2 set:html={message} class="text-center text-2xl" />
		<ProductContainer products={productSearch} />
	</div>
</article>
