---
import type { Products } from '@/interface/product.interface'
import { Image } from 'astro:assets'
import BorderEffect from './BorderEffect.astro'
import { CLOUDFLARE_URL } from '@/config/env-config'

interface Props {
	product: Products
	borderEffect?: boolean
}

const { product, borderEffect = true } = Astro.props
---

<a
	href={`/${product.name.replaceAll(' ', '-').toLocaleLowerCase()}?id=${product.id}`}
	title={product.description}
>
	<div
		class="bg-foreground shadow-crust xs:pb-5 group relative flex h-fit min-w-32 flex-col items-center gap-2 rounded-lg pb-2 shadow transition-all duration-500 hover:scale-105"
	>
		{borderEffect && <BorderEffect />}
		<Image
			class="aspect-square size-full rounded-t-lg"
			src={`${CLOUDFLARE_URL}/${product.images[0].image}`}
			alt={product.name}
			width={240}
			height={240}
			transition:name={product.id}
		/>
		<div class="xs:px-5 flex w-full flex-col gap-1 px-2 text-left">
			<span
				class="w-full overflow-hidden text-ellipsis text-nowrap text-center text-sm font-bold sm:text-base"
				>{product.name}</span
			>
			<span class="text-right font-bold">
				{
					Intl.NumberFormat('es-CO', {
						style: 'currency',
						currency: 'COP',
					}).format(product.price)
				}
			</span>
		</div>
	</div>
</a>
