---
import Subtitle from '@/components/text/Subtitle.astro'
import RegularText from '@/components/text/RegularText.astro'
import Tags from '@/components/home/Tags.astro'
import Counter from '@/components/home/Counter.astro'
import Button from '@/components/Button.astro'
import { ProductVariantSelectors } from '@/components/react/ProductVariantSelectors'
import type { Products } from '@/interface/product.interface'
import Title from '../text/Title.astro'
import { ShoppingCartIcon } from '@heroicons/react/24/outline'

interface Props {
	userId: string
	product: Products
}

const { userId, product } = Astro.props
const { name, description, categories, attributes, price, stock } = product
const { searchParams } = Astro.url
const colorParam = searchParams.get('color') ?? undefined
const sizeParam = searchParams.get('size') ?? undefined
---

<div class="flex flex-col gap-3 rounded-md">
	<Tags categories={categories} />
	<Title>{name}</Title>
	<RegularText>{description}</RegularText>
	<Subtitle
		size="2xl"
		Text={Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP' }).format(price)}
		title="Precio"
	/>
	<div class="flex min-h-[42px] w-full flex-col gap-4 sm:flex-row">
		<ProductVariantSelectors
			attributes={attributes}
			defaultColor={colorParam}
			defaultSize={sizeParam}
			client:idle
		/>
	</div>
	<div class="flex gap-5">
		<Counter id="product_quantity" maxNumber={stock} />
		<Button
			id="add_cart"
			class="flex max-h-9 gap-2 px-4 py-2 text-sm font-medium"
			size="custom"
			data-user-id={userId}
		>
			<ShoppingCartIcon className="size-5" />
			Añadir al Carrito
		</Button>
	</div>
</div>

<script>
	import CartHandler from '@/scripts/product/CartHandler'

	document.addEventListener('astro:page-load', CartHandler.setupEventListener)
</script>
