---
import type { Products } from "@/interface/product.interface";
import { Image } from "astro:assets";
import BorderEffect from "./BorderEffect.astro";
import { CLOUDFLARE_URL } from "@/config/env-config";

interface Props {
  product: Products;
  borderEffect?: boolean;
}

const { product, borderEffect = true } = Astro.props;
---

<a
  href={`/${product.name.replaceAll(" ", "-").toLocaleLowerCase()}?id=${product.id}`}
  title={product.description}
>
  <div
    class="bg-accent/30 shadow shadow-crust relative flex flex-col w-fit min-w-56 h-fit pb-5 rounded-lg items-center hover:scale-105 gap-2 group transition-all duration-500"
  >
    {borderEffect && <BorderEffect />}
    <Image
      class="aspect-square rounded-t-lg"
      src={`${CLOUDFLARE_URL}/${product.images[0]}`}
      alt={product.name}
      width={240}
      height={240}
    />
    <div class="flex flex-col w-full gap-1 text-left px-5">
      <span class="w-full text-center font-bold">{product.name}</span>
      <span class="font-bold text-right">
        {`$ ${product.price.toLocaleString()}`}
      </span>
    </div>
  </div>
</a>
