---
import Button from "@/components/Button.astro";
import Counter from "@/components/home/Counter.astro";
import Tags from "@/components/home/Tags.astro";
import BoldText from "@/components/text/BoldText.astro";
import RegularText from "@/components/text/RegularText.astro";
import Subtitle from "@/components/text/Subtitle.astro";
import type { Products } from "@/interface/product.interface";

import { Image } from "astro:assets";
import { fade } from "astro:transitions";

interface Props {
  product: Products;
}

const { product } = Astro.props;
const { name, categories, attributes, description, stock, images, price } =
  product;
---

<section
  class="flex flex-wrap min-h-[450] mx-auto max-w-11/12 items-top justify-center gap-x-20 gap-y-10 px-20"
  transition:animate={fade({ duration: 150 })}
>
  <article class="basis-[25rem] grow">
    <div class="w-fit mx-auto">
      <Image
        class="aspect-square"
        src={images[0]}
        alt={name}
        width={450}
        height={450}
        loading="lazy"
      />
    </div>
  </article>
  <article class="basis-0 grow-[999] min-w-[26rem]">
    <div class="w-fit h-full mx-auto flex flex-col gap-2 justify-center">
      <Subtitle Text={name} />
      <RegularText>{description}</RegularText>
      <Tags categories={categories} />
      <div class="flex flex-col gap-2">
        <RegularText>Color: {attributes.color}</RegularText>
        <RegularText>Talla: {attributes.size}</RegularText>
      </div>
      <Subtitle size="3xl" Text={`$ ${price}`} />
      <div class="flex flex-col gap-2">
        <Counter maxNumber={stock} />
        <Button class="w-full h-fit max-w-2xs" size="md">
          Añadir al Carrito
        </Button>
      </div>
    </div>
  </article>
</section>
