---
import ProductDetailsPanel from '@/components/home/ProductDetailsPanel.astro'
import ProductImage from '@/components/home/ProductImage.astro'
import type { Products } from '@/interface/product.interface'

import { slide } from 'node_modules/astro/dist/transitions'

interface Props {
	product: Products
}

const { product } = Astro.props

const userId = Astro.locals.user?.id
const { description, images, id } = product || []
if (description === undefined) {
	return
}
---

<section class="@container mx-auto max-w-7xl" transition:animate={slide({ duration: 300 })}>
	<div
		class="border-border bg-foreground shadow-border mx-auto flex w-fit justify-center gap-20 rounded-md border p-5 shadow-md"
	>
		<article class="border-border min-w-md flex aspect-square w-fit flex-col">
			<ProductImage alt={description} images={images} productId={id} />
		</article>
		<article class="border-border relative rounded-md">
			<ProductDetailsPanel product={product} userId={userId} />
		</article>
	</div>
</section>
