---
import ProductDetailsPanel from '@/components/home/ProductDetailsPanel.astro'
import ProductImage from '@/components/home/ProductImage.astro'
import type { Products } from '@/interface/product.interface'

import { fade } from 'astro:transitions'
import RecommendedProductsSection from './RecommendedProductsSection.astro'
import { slide } from 'node_modules/astro/dist/transitions'

interface Props {
	product: Products
}

const { product } = Astro.props

const userId = Astro.locals.user?.id
const { description, images } = product || []
if (description === undefined) {
	return
}
---

<div class="px-6">
	<section
		class="@container border-border shadow-accent relative flex flex-col rounded-md border shadow-md sm:border-0 md:grid-cols-3 md:flex-row"
		transition:animate={slide({ duration: 300 })}
		transition:name={product.id}
	>
		<article class="border-border col-span-2 flex grow flex-col sm:rounded-l-md sm:border">
			<ProductImage alt={description} images={images} />
			<div class="px-3 py-5 max-md:hidden">
				<RecommendedProductsSection categoryName={product.categories[0].name} />
			</div>
		</article>
		<article
			class="2xl:min-w-2xl lg:min-w-lg border-border rounded-r-md sm:min-h-screen sm:border sm:border-l-0"
		>
			<ProductDetailsPanel product={product} userId={userId} />
		</article>
	</section>
</div>
