---
import ProductDetailsPanel from '@/components/home/ProductDetailsPanel.astro'
import ProductImage from '@/components/home/ProductImage.astro'
import type { Products } from '@/interface/product.interface'

import { slide } from 'node_modules/astro/dist/transitions'

interface Props {
	product: Products
}

const { product } = Astro.props

const userId = Astro.locals.user?.id
const { description, images, id } = product || []
if (description === undefined) {
	return
}
---

<section class="@container mx-auto max-w-7xl px-3" transition:animate={slide({ duration: 300 })}>
	<div
		class="border-border bg-foreground shadow-border mx-auto flex w-fit flex-col justify-center gap-5 rounded-md border shadow-md md:p-5 lg:flex-row lg:gap-x-20"
	>
		<article class="border-border flex h-fit justify-center">
			<ProductImage alt={description} images={images} productId={id} />
		</article>
		<article class="border-border relative rounded-md max-md:p-2">
			<ProductDetailsPanel product={product} userId={userId} />
		</article>
	</div>
</section>
